<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="myorder.component.css">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<h1>My Order</h1>
<hr>
<div class="row text-left">

    <table class="table  table-borderless">
        
        <tr> 
            <td>ORDER NO: 12300-02 <br> <img src="../../assets/1.jpg" height="160px" width="220px" alt="">
            <td><br><h4>Pot Store</h4> <h6>White Hello Cactus Vase</h6>Qty: 1 
            <br> <b>Rs.945</b> <br><b>Delivered</b>(Jan 15,2020) </td>
            
        </tr>
        
        <tr> 
            <td>ORDER NO: 340000-123 <br> <img src="../../assets/2.jpg" height="160px" width="220px" alt="">
            <td><br><h4>Cusion</h4><h6>Yellow-Grey Cusion (set of 3)</h6>  Qty: 1 
            <br> <b>Rs.1,104</b> <br><b>Delivered</b>(Nov 9,2019)</td>
            
        </tr>      
        
    

    </table>
    

</div>