h6
{
    color: #79d70f;
}
h1{
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2
{
    color: #4e9525;
}

div{
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 10px;
}
